html, body {
  height: 100%;
}

body {  
	margin: 0;
 	display: flex;
	/* This centers our sketch horizontally. */
  	justify-content: center;

 	 /* This centers our sketch vertically. */
 	 align-items: center;

		font-family: Arial;
		font-size: 19px;
		
		border-right-color:#b1e884;
		border-right-width:100px;
		border-right-style:solid;
		
		border-top-color:#b1e884;
		border-top-width:50px;
		border-top-style:solid;
		
		border-Bottom-color:#b1e884;
		border-Bottom-width:50px;
		border-Bottom-style:solid;

		border-left-color:#b1e884;
		border-left-width:100px;
		border-left-style:solid;
    background-color: #474646;
	
}
h1 {
    color:#f46969 ;
	font-size: 50px;
	background-color: powderblue;
	text-align: center;
}
p {
    color: blue;
	background-color: powderblue;
	border: 5px solid #94cc66;

}
h2 {
	color:#f46969 ;
	background-color: #b1e884;
	font-size: 40px;
	text-align: center;
}
ul {
	color: blue;
	background-color: powderblue;
	border: 5px solid #94cc66;
}




