body {
		font-family: Arial;
		font-size: 19px;
		
		border-right-color:#b1e884;
		border-right-width:100px;
		border-right-style:solid;
		
		border-top-color:#b1e884;
		border-top-width:50px;
		border-top-style:solid;
		
		border-Bottom-color:#b1e884;
		border-Bottom-width:50px;
		border-Bottom-style:solid;

		border-left-color:#b1e884;
		border-left-width:100px;
		border-left-style:solid;
    background-color: #474646;
	
}
h1 {
    color:#f46969 ;
	font-size: 50px;
	background-color: powderblue;
	text-align: center;
}
p {
    color: blue;
	background-color: powderblue;
	border: 5px solid #94cc66;

}
h2 {
	color:#f46969 ;
	background-color: #b1e884;
	font-size: 40px;
	text-align: center;
}
ul {
	color: blue;
	background-color: powderblue;
	border: 5px solid #94cc66;
}
img {
    display: block;
    margin: auto;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}




