body {  
		font-family: Arial;
		font-size: 19px;
		
		border-right-color:#5499C7;
		border-right-width:100px;
		border-right-style:solid;
		
		border-top-color:#5499C7;
		border-top-width:50px;
		border-top-style:solid;

		border-left-color:#5499C7;
		border-left-width:100px;
		border-left-style:solid;
    		
		background-color: #474646;
	
}
h1 {
    color:#f46969 ;
	font-size: 50px;
	background-color: powderblue;
	text-align: center;
}
p {
    color: blue;
	background-color: powderblue;
	border: 5px solid #94cc66;

}
h2 {
	color:#f46969 ;
	background-color: #b1e884;
	font-size: 40px;
	text-align: center;
}
ul {
	color: blue;
	background-color: powderblue;
	border: 5px solid #94cc66;
}




